@import "tailwindcss";
/* body{
  background-image: url(../public/Fonts/Vazir.woff2);
} */
@font-face {
  font-family: "Vazir";
  src: url("../public/Fonts/Vazir.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@utility flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@theme {
  --font-Vazir: "Vazir";

  /*Coustom breakpoints */
  --breakpoint-mobile: 400px;
  --breakpoint-tablet: 800px;
  --breakpoint-laptop: 1000px;
  --breakpoint-desktop: 1200px;

  /* Coustom Paddings  */
  --spacing-2: 2px;
  --spacing-4: 4px;
  --spacing-6: 6px;
  --spacing-8: 8px;
  --spacing-16: 16px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  /* Coustom border  */
  --radius-4: 4px;
  --radius-8: 8px;
  --radius-16: 16px;
  --radius-24: 24px;
  --radius-32: 32px;
}
